@media (min-width: 768px) {
  .navbar-spacer {
      width: 170px;
  }
}

.navbar {
  padding: 0px !important;
  z-index: 1;
}

.navbar a {
  color: white !important;
}

.navbar a:hover {
  color: grey !important;
}

.navbar button {
  margin: 10px;
}

.navbar-brand {
  padding: 15px;
  font-size: 20px;
  margin: 10px;
}

.nav-link {
  font-size: 20px;
  padding: 15px 30px !important;
}

